@charset "utf-8";

// 配置间距
$setting-spacing: 5px;
$setting-weibo-spacing: 10px;

// 配置位置
$share-position: 5px;

// 配置sprite的布局方式
$share-layout: vertical;  // vertical/horizontal/diagonal/smart

// 自动输出尺寸
$share-sprite-dimensions: true;
$share-sprite-base-class: ".icon";

@import "compass/utilities/sprites";    // 加载compass sprites模块
@import "share/*.png";                    // 导入share目录下所有png图片
@include all-share-sprites;                // 输出所有的雪碧图css
// $setting-sprite-base-class: ".class-name";   //配置sprite的基础类
// $<map>-spacing: 5px;                // 配置所有sprite间距为5px，默认为0px
// $<map>-<sprite>-spacing: 10px;        // 配置单个sprite间距为10px，默认继承$<map>-spacing的值
// $<map>-repeat: no-repeat;        // 配置所有sprite的重复性，默认为no-repeat
// $<map>-<sprite>-repeat: no-repeat/repeat-x;// 配置单个sprite的重复性，默认继承$<map>-repeat的值
// $<map>-position: 0px;                // 配置所有sprite的位置，默认为0px
// $<map>-<sprite>-position: 0px;        // 配置单个sprite的位置，默认继承$<map>-position的值
// $<map>-layout: vertical/horizontal/diagonal/smart;        // 默认布局方式为vertical
// $<map>-clean-up: true/false;        // 默认值为true   清除过期的sprite
// $disabled-magic-sprite-selectors: false;    // 默认为true  魔术精灵选择器开关
// $setting-sprite-dimensions: true;    // 启用自动设置sprite尺寸，默认值为false
// 当然，如果只对某个sprite单独设置的话，compass也提供了这个功能。语法如下:
// $<map>-sprite-width($name);     // $name为合并前的图片名称
//$<map>-sprite-height($name);
//例如：
// 测试此段代码时应将$setting-sprite-dimensions值设为false
// .special {
//     @include setting-sprite(compass);
//     width: setting-sprite-width(compass);
//     height: setting-sprite-height(compass);
// }